.aboutUs{
    padding-top: 64px;
    padding-bottom: 64px;
    background-image: url(/imgs/mobile-img/aboutUs-bg-mb.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .aboutContent{
        margin-left: 10px;
        margin-right: 10px;
        h1{
            font-family: "raleway", sans-serif;
            font-size: 48px;
            line-height: 56px;
            font-weight: 600;
        }
        p{
            margin-top: 24px;
            line-height: 22px;
        }



        .midImg{
            height: 83.2vw;
            max-height: 477px;
            position: relative;
            margin-top: 48px;
            overflow-x: hidden;
            overflow-y: hidden;

            .primeraImg{
                position: absolute;
                margin-left: 17.85%;
                img{
                    max-width: 100%;
                    border-radius: 8px;
                }
            }
            .segundaImg{
                position: absolute;
                margin-left: 8.92%;
                margin-top: 14.25%;
                margin-right: 8.92%;
                img{
                    max-width: 100%;
                    border-radius: 8px;
                }
            }
            .terceraImg{
                position: absolute;
                margin-right: 17.85%;
                margin-top: 28.51%;
                img{
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 8px;
                }
            }
            // Las tarjetas al tener que utilizar position absolute y tener que crecer respectivamente al tamaño de la pantalla sin salirse del recuadro tuvieron que utilizar las medidas en % y en vw.
        }
    }
}

@media only screen and (min-width: 600px){
    .aboutUs{
        padding-top: 96px;
        padding-bottom: 96px;
        background-image: url(/imgs/tablet-img/about-mid-bg.webp);
        .aboutContent{
            margin-left: 40px;
            margin-right: 40px;
            display: flex;
            justify-content: space-between;
            .aboutText{
                flex: 50%;
                p{
                    font-size: 18px;
                    line-height: 22px;
                    max-width: 361px;
                }
            }
            img{
                display: none;
            }

            .midImg{
                flex: 50%;
                img{
                    display: block;
                    margin-top: 0px;
                    max-width: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1160px){
    .aboutUs{
        overflow-x: hidden;
        overflow-y: hidden;

        background-image: url(/imgs/desktop-img/desktop-about-bg-trans.webp);
        background-color: #FAFAFA;
        background-repeat: no-repeat;
        background-size: 1920px 857px;
        background-position-y: 0px;

        .aboutContent{
            max-width: 1160px;
            margin-left: auto;
            margin-right: auto;
            .aboutText{
                p{
                    max-width: 560px;
                }
            }
        }
    }
}