.herobox{
    background-image: url(/imgs/mobile-img/nk-bg-mb.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 48px;
    .innerhero{

        .heroContent{
            margin-left: 10px;
            margin-right: 10px;
        h1{
            font-size: 48px;
            font-weight: bold;
            font-family: "Raleway", sans-serif;
            line-height: 56px;
        }
        p{
            margin-top: 24px;
        }

        button{
            margin-top: 64px;
            padding: 12px 32px;
            background-color: #1D1D1F;
            border: none;
            border-radius: 4px;
            font-family: "montserrat", sans-serif;
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
        }

        }
        


    }
    .heroImg{
        display: none;
    }

}

@media only screen and (min-width: 600px) {
    .herobox{
        background-image: url(/imgs/tablet-img/hero-mid-bg.webp);
        max-height: 736px;
        padding-top: 0px;
        padding-bottom: 0px;

        .innerhero{
            padding-top: 168px;
            padding-bottom: 168px;
            display: flex;
            justify-content: space-between;
            .heroContent{
                flex: 50%;
                margin-left: 40px;
                h1{
                    max-width: 360px;
                }
                p{
                    max-width: 360px;
                }
            }
            .heroImg{
                flex: 50%;
                display: block;
                padding-right: 40px;
                position: relative;
                // border: solid black 1px;
                // height: 34.41vw;
                max-height: 446px;
                overflow-x: hidden;
                overflow-y: hidden;

                img{
                    transform: none;
                }
               .laptop{
                   position: absolute;
                   margin-top: 56.41px;
                   img{
                       max-width: 360px;
                   }
               }

               .phone{
                   position: absolute;
                   margin-left: 258px;
                   margin-top: 77px;
                   img{
                       max-width: 102.96px;
                   }
                }
            }

        }

    }
}


@media only screen and (min-width: 1160px){
      .herobox{
          background-image: none;
          background-color: #FAFAFA;
          max-height: 736px;
          z-index: 2;
          overflow-x: hidden;
          overflow-y: hidden;

          background-image: url(/imgs/herobox-imgs/bactrans-hero.webp);
          background-color: #FAFAFA;
          background-repeat: no-repeat;
          background-size: 1920px 977px;
          background-position-y: 0px;

          .innerhero{
            max-width: 1160px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 145px;
            padding-bottom: 145px;
            .heroContent{
                margin-top: 71px;
                margin-left: 0px;
                h1{
                    max-width: 560px;
                }
                p{
                    max-width: 560px;
                }
                button:hover{
                    background-color: #6000FF;
                }
            }

            .heroImg{
                min-height: 446px;
                padding-right: 0px;
                position: relative;
                .laptop{
                    margin-top: 0px;
                    position: absolute;
                    right: 0;
                    img{
                        max-width: 560px;
                        filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.400));
                    }
                }
                .phone{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    img{
                        max-width: 160px;
                        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
                    }
                }
            }

        }
      }
  }