main{
    padding-top: 64px;
    padding-bottom: 64px;
    margin-left: 10px;
    margin-right: 10px;
    h2{
        font-size: 32px;
        font-weight: bold;
        line-height: 38px;
        font-family: "Raleway", sans-serif;
        text-align: center;
    }

    .services{
        margin-left: 10px;
        margin-right: 10px;

        .service{
            padding-top: 64px;
            h3{
                font-weight: 600;
                font-family: "Raleway", sans-serif;
                font-size: 32px;
                line-height: 38px;
                margin-top: 24px;
            }
            p .small{
                font-size: 14px;
                margin-top: 12px;
            }
            p{
                font-size: 16px;
                line-height: 20px;
                margin-top: 24px;
            }
            img{
                max-width: 100%;
                border-radius: 4px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) 
            }
        }

    }


}

@media only screen and (min-width: 600px){
    main{
        margin-left: 0px;
        margin-right: 0px;
        .services{
            display: flex;
            margin-left: 40px;
            margin-right: 40px;
            flex-wrap: wrap;
            justify-content: space-between;
            .service{
                max-width: 360px;
            }
        }
    }
}


@media only screen and (min-width: 1160px){
    main{
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;

        .services{
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}