.myModal{

    .modal-content{
        background-color: #FAFAFA;
    }

    .modal-header{
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
        padding: 0px;
    }
    h5{
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        margin-top: 20px;
        line-height: 19px;
    }
    h4{
        font-size: 28px;
        font-weight: bold;
        font-family: "raleway", sans-serif;
        display: inline-block;
        margin-top: 12px;
        line-height: 33px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .btn-close{
        margin-left: auto;
        margin-right: 16px;
        margin-top: 16px;
    }

    .modal-footer{
        border: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .info{
            display: inline-block;
            width: 100%;
            display: flex;
            align-items: center;

            img{
                max-width: 32px;
                margin-right: 12px;
            }
        }
    }

    .form{
       p{
           font-family: "montserrat", sans-serif;
           font-size: 14px;
           line-height: 17px;
       } 
       input{
           margin-top: 8px;
           width: 100%;
           font-size: 14px;
           font-family: "montserrat", sans-serif;
           padding: 8px 12px;
           border: none;
       }
       textarea{
           width: 100%;
           font-size: 14px;
           font-family: "montserrat", sans-serif;
           padding: 8px 12px;
           border: none;
       }

    .name{
        margin-bottom: 16px;
    }
    .email{
        margin-bottom: 16px;
    }
    .message{
        margin-bottom: 32px;
    }

    .sendBtn{
        button{
            width: 100%;
            background-color: #1D1D1F;
            padding: 12px;
            color: #ffffff;
            border: none;
            border-radius: 4px;
        }
    }
    }

    .mailSent{
        display: none;
        padding-top: 64px;
        padding-bottom: 64px;

        p{
            font-size: 18px;
            font-family: "Raleway", sans-serif;
            font-weight: bold;
            color: #2ECFAA;
            text-align: center;
            margin-top: 16px;
            line-height: 21px;
        }
        img{
            max-width: 64px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

}