.faqSection{
    padding-top: 64px;
    padding-bottom: 96px;
    background: url(/imgs/mobile-img/faq-mb-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .faqContent{
        margin-left: 10px;
        margin-right: 10px;

        h5{
            font-size: 32px;
            font-family: "raleway", sans-serif;
            font-weight: bold;
            line-height: 38px;
            text-align: center;
            margin-bottom: 56px;
        }

        a{
            color: black;
        }


        .accordion-item{
            margin-top: 32px;
            border-bottom: 0px;
        }

        .accordion-button{
            padding: 12px 8px;
            p{
                font-size: 18px;
                font-family: "montserrat", sans-serif;
                font-weight: 500;
                line-height: 22px;
            }

        }
        .accordion-button:not(.collapsed){
            color: black;
            background-color: white;
        }
    }

    .accordion-button:focus{
        box-shadow: none;
    }

    .accordion-button:not(.collapsed)::after{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

@media only screen and(min-width: 768px){
    .faqSection{
        padding-top: 96px;
        padding-bottom: 64px;
        background: url(/imgs/tablet-img/faq-mid-bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .faqContent{
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}


@media only screen and (min-width: 1160px){
    .faqSection{
    
        background: url(/imgs/desktop-img/faq-desktop-bg.webp);
        background-size: 1920px 512px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -32px;

        background-color: #fafafa;
        .faqContent{
            max-width: 1160px;
            margin-left: auto;
            margin-right: auto;

            h5{
                margin-bottom: 64px;
            }
            .accordion{
                display: flex;
                justify-content: space-between;
            }
            .accordion-item{
                width: 570px;
            }
        }
    }
}