* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  background-color: #1D1D1F;
}

nav .navContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 64px;
}

nav .navContent .logo {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

nav .navContent .logo img {
  max-height: 24px;
}

nav .navContent .menuOpener {
  display: none;
}

nav .navContent .menuCloser {
  display: none;
}

nav .navContent .menu {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .navContent .menu a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 48px;
}

nav .navContent .menu hr {
  display: none;
}

@media screen and (max-width: 1140px) {
  nav .navContent {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  nav .navContent {
    margin-left: 0px;
    margin-right: 0px;
  }
  nav .navContent .logo {
    margin-left: 10px;
  }
  nav .navContent .menuOpener {
    margin-right: 10px;
    display: block;
  }
  nav .navContent .menuOpener img {
    max-height: 20px;
  }
  nav .navContent .menuCloser {
    margin-right: 10px;
    display: none;
  }
  nav .navContent .menuCloser img {
    max-height: 20px;
  }
  nav .navContent .menu {
    position: absolute;
    width: 100%;
    top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: #1D1D1F;
    display: none;
    font-size: 18px;
    -webkit-transition: opacity 2.5s ease-in;
    transition: opacity 2.5s ease-in;
  }
  nav .navContent .menu li {
    margin-top: 32px;
    margin-left: 10px;
  }
  nav .navContent .menu li a {
    margin-left: 0px;
    color: #ffffff;
  }
  nav .navContent .menu hr {
    margin-top: 11px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
  }
  nav .navContent .menu .header-btn {
    margin-left: 10px;
    margin-right: 10px;
  }
  nav .navContent .menu .header-btn button {
    margin-top: 32px;
    margin-bottom: 32px;
    display: inline-block;
    width: 100%;
    height: 28px;
    font-size: 14px;
    background-color: #f2f2f2;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 4px;
  }
}

.herobox {
  background-image: url(/imgs/nk-bg-mb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 48px;
}

.herobox .innerhero .heroContent {
  margin-left: 10px;
  margin-right: 10px;
}

.herobox .innerhero .heroContent h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  line-height: 56px;
}

.herobox .innerhero .heroContent p {
  margin-top: 24px;
}

.herobox .innerhero .heroContent button {
  margin-top: 64px;
  padding: 12px 32px;
  background-color: #1D1D1F;
  border: none;
  border-radius: 4px;
}

.herobox .innerhero .heroContent button a {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.herobox .heroImg {
  display: none;
}

@media only screen and (min-width: 600px) {
  .herobox {
    background-image: url(/imgs/hero-mid-bg.jpg);
  }
  .herobox .innerhero {
    padding-top: 168px;
    padding-bottom: 168px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .herobox .innerhero .heroContent {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    margin-left: 40px;
  }
  .herobox .innerhero .heroContent h1 {
    max-width: 360px;
  }
  .herobox .innerhero .heroContent p {
    max-width: 360px;
  }
  .herobox .innerhero .heroImg {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    margin-right: 40px;
    display: block;
  }
  .herobox .innerhero .heroImg img {
    max-width: 100%;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}

@media only screen and (min-width: 1160px) {
  .herobox {
    background-image: url(/imgs/desktop-hero-bg.jpg);
    max-height: 736px;
  }
  .herobox .innerhero {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  .herobox .innerhero .heroContent h1 {
    max-width: 560px;
  }
  .herobox .innerhero .heroContent p {
    max-width: 560px;
  }
  .herobox .innerhero .heroImg img {
    max-width: 100%;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

main {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: 10px;
  margin-right: 10px;
}

main h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

main .services {
  margin-left: 10px;
  margin-right: 10px;
}

main .services .service {
  padding-top: 64px;
}

main .services .service h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-top: 24px;
}

main .services .service p .small {
  font-size: 14px;
  margin-top: 12px;
}

main .services .service p {
  font-size: 16px;
  line-height: 20px;
  margin-top: 24px;
}

main .services .service img {
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 0px;
    margin-right: 0px;
  }
  main .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .services .service {
    max-width: 360px;
  }
}

@media only screen and (min-width: 1160px) {
  main {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  main .services {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.aboutUs {
  padding-top: 64px;
  padding-bottom: 64px;
  background-image: url(/imgs/aboutUs-bg-.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUs .aboutContent {
  margin-left: 10px;
  margin-right: 10px;
}

.aboutUs .aboutContent h1 {
  font-family: "raleway", sans-serif;
  font-size: 48px;
  line-height: 56px;
}

.aboutUs .aboutContent p {
  margin-top: 24px;
  line-height: 22px;
}

.aboutUs .aboutContent img {
  margin-top: 48px;
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
  .aboutUs {
    padding-top: 96px;
    padding-bottom: 96px;
    background-image: url(/imgs/about-mid-bg.png);
  }
  .aboutUs .aboutContent {
    margin-left: 40px;
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .aboutUs .aboutContent .aboutText {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .aboutUs .aboutContent .aboutText p {
    font-size: 18px;
    line-height: 22px;
    max-width: 361px;
  }
  .aboutUs .aboutContent img {
    display: none;
  }
  .aboutUs .aboutContent .midImg {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .aboutUs .aboutContent .midImg img {
    display: block;
    margin-top: 0px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1160px) {
  .aboutUs {
    background-image: url(/imgs/desktop-AboutUs-bg.jpg);
  }
  .aboutUs .aboutContent {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutUs .aboutContent .aboutText p {
    max-width: 560px;
  }
}

.portfolio {
  padding-top: 64px;
  padding-bottom: 64px;
}

.portfolio .portfolioContent {
  margin-left: 10px;
  margin-right: 10px;
}

.portfolio .portfolioContent h4 {
  font-family: "raleway", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}

.splide {
  margin-top: 48px;
}

.splide .splide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splide img {
  max-width: 260px;
  max-height: 320px;
  -webkit-box-shadow: 0px 4px 16px grey;
          box-shadow: 0px 4px 16px grey;
  border-radius: 4px;
}

.splide .splide__pagination {
  display: none;
}

.splide .splide__arrow {
  background: #ffffff;
}

.splide .splide__slide {
  min-height: 335px;
}

@media only screen and (min-width: 600px) {
  .portfolio .portfolioContent {
    margin-left: 20px;
    margin-right: 20px;
  }
  .splide img {
    max-width: 230px;
  }
  .splide__arrows {
    display: none;
  }
}

.faqSection {
  padding-top: 64px;
  padding-bottom: 64px;
  background: url(/imgs/faq-cont-bg-mb.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.faqSection .faqContent {
  margin-left: 10px;
  margin-right: 10px;
}

.faqSection .faqContent h5 {
  font-size: 32px;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
}

.faqSection .faqContent .questions {
  margin-top: 32px;
}

.faqSection .faqContent .questions .question {
  margin-bottom: 32px;
}

.faqSection .faqContent .questions .accordion {
  border: none;
  outline: none;
  font-size: 18px;
  font-family: "montserrat", sans-serif;
  text-align: start;
  background-color: #ffffff;
  width: 100%;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  border-radius: 4px;
}

.faqSection .faqContent .questions .answer {
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: "montserrat", sans-serif;
  display: none;
  max-width: 570px;
}

.faqSection .faqContent .questions .questions1 {
  max-width: 570px;
}

.faqSection .faqContent .questions .questions2 {
  max-width: 570px;
}

@media only screen and (min-width: 768px) {
  .faqSection {
    background: url(/imgs/faq-cont-bg-mid.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .faqSection .faqContent {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  .faqSection .faqContent .questions {
    margin-left: 40px;
    margin-right: 40px;
  }
  .faqSection .faqContent .questions .questions1 {
    max-width: 100%;
  }
  .faqSection .faqContent .questions .questions2 {
    display: block;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1160px) {
  .faqSection {
    background: url(/imgs/desktop-footer-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .faqSection .faqContent .questions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .faqSection .faqContent .questions .question {
    width: 560px;
  }
}

.footerContent {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 128px;
}

.footerContent h5 {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 16px;
}

.footerContent h4 {
  font-family: "raleway", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
}

.footerContent .form {
  margin-top: 64px;
}

.footerContent .form form {
  max-width: 767px;
}

.footerContent .form form p {
  margin-bottom: 8px;
}

.footerContent .form form .info input {
  width: 100%;
  height: 33px;
  background-color: #ffffff;
  border: none;
  padding-left: 8px;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
}

.footerContent .form form .info .name {
  margin-right: 21px;
  width: 100%;
}

.footerContent .form form .info .email {
  margin-top: 16px;
  width: 100%;
}

.footerContent .form form .message {
  margin-top: 24px;
}

.footerContent .form form .message textarea {
  width: 100%;
  max-width: 767px;
  padding-bottom: 90px;
  background-color: #ffffff;
  border: none;
  padding-top: 8px;
  padding-left: 8px;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
}

.footerContent .form form .sendBtn {
  margin-top: 32px;
}

.footerContent .form form .sendBtn button {
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-family: "montserrat", sans-serif;
  padding: 12px 24px;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
}

.footerContent .form form .sendBtn :hover {
  background-color: #6000FF;
}

footer {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 64px;
  padding-bottom: 96px;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .info img {
  max-width: 32px;
  margin-right: 12px;
}

footer .info:nth-child(2) {
  margin-top: 24px;
}

.end {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 12px;
}

.end p {
  margin-top: 12px;
}

@media only screen and (min-width: 768px) {
  .footerContent h5 {
    font-size: 32px;
    text-align: center;
    line-height: 38px;
  }
  .footerContent h4 {
    margin-top: 24px;
    font-size: 42px;
    text-align: center;
    line-height: 49px;
  }
  .footerContent .contactUs {
    max-width: 492px;
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 492px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .info:nth-child(2) {
    margin-top: 0px;
  }
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 20px;
}
/*# sourceMappingURL=style.css.map */