* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  background-color: #1D1D1F;
  width: 100%;
  z-index: 100;
}

nav .navContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 44px;
}

nav .navContent .logo {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

nav .navContent .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navContent .logo img {
  max-height: 24px;
}

nav .navContent .menuOpener {
  display: none;
}

nav .navContent .menuCloser {
  display: none;
}

nav .navContent .menu {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navContent .menu a {
  text-decoration: none;
  color: #d2d2d7;
  margin-left: 64px;
  font-size: 14px;
}

nav .navContent .menu a:hover {
  color: #ffffff;
}

nav .navContent .menu hr {
  display: none;
}

nav .navContent .menu .header-btn button {
  margin-left: 64px;
  font-size: 14px;
  font-family: "montserrat", sans-serif;
  line-height: 17px;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
}

nav .navContent .menu .header-btn button:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 1140px) {
  nav .navContent {
    margin-left: 40px;
    margin-right: 40px;
  }
  nav .navContent .logo {
    -webkit-box-flex: 5%;
        -ms-flex: 5%;
            flex: 5%;
    max-width: 55px;
  }
}

@media screen and (max-width: 768px) {
  nav .navContent {
    margin-left: 0px;
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .navContent .logo {
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .navContent .menuOpener {
    margin-right: 10px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .navContent .menuOpener img {
    max-height: 20px;
  }
  nav .navContent .menuCloser {
    margin-right: 10px;
    display: none;
  }
  nav .navContent .menuCloser img {
    max-height: 20px;
  }
  nav .navContent .menu {
    position: absolute;
    width: 100%;
    top: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: #1D1D1F;
    display: none;
    font-size: 18px;
  }
  nav .navContent .menu li {
    margin-top: 32px;
    margin-left: 10px;
  }
  nav .navContent .menu li a {
    margin-left: 0px;
    color: #d2d2d7;
  }
  nav .navContent .menu li a:hover {
    color: #ffffff;
  }
  nav .navContent .menu hr {
    margin-top: 11px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
  }
  nav .navContent .menu .header-btn {
    margin-left: 10px;
    margin-right: 10px;
  }
  nav .navContent .menu .header-btn button {
    margin-top: 32px;
    margin-bottom: 32px;
    display: inline-block;
    width: 100%;
    height: 28px;
    font-size: 14px;
    background-color: #f2f2f2;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 4px;
    margin-left: 0px;
  }
}

.herobox {
  background-image: url(/imgs/mobile-img/nk-bg-mb.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 48px;
}

.herobox .innerhero .heroContent {
  margin-left: 10px;
  margin-right: 10px;
}

.herobox .innerhero .heroContent h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  line-height: 56px;
}

.herobox .innerhero .heroContent p {
  margin-top: 24px;
}

.herobox .innerhero .heroContent button {
  margin-top: 64px;
  padding: 12px 32px;
  background-color: #1D1D1F;
  border: none;
  border-radius: 4px;
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.herobox .heroImg {
  display: none;
}

@media only screen and (min-width: 600px) {
  .herobox {
    background-image: url(/imgs/tablet-img/hero-mid-bg.webp);
    max-height: 736px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .herobox .innerhero {
    padding-top: 168px;
    padding-bottom: 168px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .herobox .innerhero .heroContent {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    margin-left: 40px;
  }
  .herobox .innerhero .heroContent h1 {
    max-width: 360px;
  }
  .herobox .innerhero .heroContent p {
    max-width: 360px;
  }
  .herobox .innerhero .heroImg {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    display: block;
    padding-right: 40px;
    position: relative;
    max-height: 446px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .herobox .innerhero .heroImg img {
    -webkit-transform: none;
            transform: none;
  }
  .herobox .innerhero .heroImg .laptop {
    position: absolute;
    margin-top: 56.41px;
  }
  .herobox .innerhero .heroImg .laptop img {
    max-width: 360px;
  }
  .herobox .innerhero .heroImg .phone {
    position: absolute;
    margin-left: 258px;
    margin-top: 77px;
  }
  .herobox .innerhero .heroImg .phone img {
    max-width: 102.96px;
  }
}

@media only screen and (min-width: 1160px) {
  .herobox {
    background-color: #FAFAFA;
    max-height: 736px;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(/imgs/herobox-imgs/bactrans-hero.webp);
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-size: 1920px 977px;
    background-position-y: 0px;
  }
  .herobox .innerhero {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 145px;
    padding-bottom: 145px;
  }
  .herobox .innerhero .heroContent {
    margin-top: 71px;
    margin-left: 0px;
  }
  .herobox .innerhero .heroContent h1 {
    max-width: 560px;
  }
  .herobox .innerhero .heroContent p {
    max-width: 560px;
  }
  .herobox .innerhero .heroContent button:hover {
    background-color: #6000FF;
  }
  .herobox .innerhero .heroImg {
    min-height: 446px;
    padding-right: 0px;
    position: relative;
  }
  .herobox .innerhero .heroImg .laptop {
    margin-top: 0px;
    position: absolute;
    right: 0;
  }
  .herobox .innerhero .heroImg .laptop img {
    max-width: 560px;
    -webkit-filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.4));
            filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.4));
  }
  .herobox .innerhero .heroImg .phone {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .herobox .innerhero .heroImg .phone img {
    max-width: 160px;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
            filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
  }
}

main {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: 10px;
  margin-right: 10px;
}

main h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

main .services {
  margin-left: 10px;
  margin-right: 10px;
}

main .services .service {
  padding-top: 64px;
}

main .services .service h3 {
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  line-height: 38px;
  margin-top: 24px;
}

main .services .service p .small {
  font-size: 14px;
  margin-top: 12px;
}

main .services .service p {
  font-size: 16px;
  line-height: 20px;
  margin-top: 24px;
}

main .services .service img {
  max-width: 100%;
  border-radius: 4px;
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 0px;
    margin-right: 0px;
  }
  main .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .services .service {
    max-width: 360px;
  }
}

@media only screen and (min-width: 1160px) {
  main {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  main .services {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.aboutUs {
  padding-top: 64px;
  padding-bottom: 64px;
  background-image: url(/imgs/mobile-img/aboutUs-bg-mb.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUs .aboutContent {
  margin-left: 10px;
  margin-right: 10px;
}

.aboutUs .aboutContent h1 {
  font-family: "raleway", sans-serif;
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
}

.aboutUs .aboutContent p {
  margin-top: 24px;
  line-height: 22px;
}

.aboutUs .aboutContent .midImg {
  height: 83.2vw;
  max-height: 477px;
  position: relative;
  margin-top: 48px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.aboutUs .aboutContent .midImg .primeraImg {
  position: absolute;
  margin-left: 17.85%;
}

.aboutUs .aboutContent .midImg .primeraImg img {
  max-width: 100%;
  border-radius: 8px;
}

.aboutUs .aboutContent .midImg .segundaImg {
  position: absolute;
  margin-left: 8.92%;
  margin-top: 14.25%;
  margin-right: 8.92%;
}

.aboutUs .aboutContent .midImg .segundaImg img {
  max-width: 100%;
  border-radius: 8px;
}

.aboutUs .aboutContent .midImg .terceraImg {
  position: absolute;
  margin-right: 17.85%;
  margin-top: 28.51%;
}

.aboutUs .aboutContent .midImg .terceraImg img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

@media only screen and (min-width: 600px) {
  .aboutUs {
    padding-top: 96px;
    padding-bottom: 96px;
    background-image: url(/imgs/tablet-img/about-mid-bg.webp);
  }
  .aboutUs .aboutContent {
    margin-left: 40px;
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .aboutUs .aboutContent .aboutText {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .aboutUs .aboutContent .aboutText p {
    font-size: 18px;
    line-height: 22px;
    max-width: 361px;
  }
  .aboutUs .aboutContent img {
    display: none;
  }
  .aboutUs .aboutContent .midImg {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .aboutUs .aboutContent .midImg img {
    display: block;
    margin-top: 0px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1160px) {
  .aboutUs {
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(/imgs/desktop-img/desktop-about-bg-trans.webp);
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-size: 1920px 857px;
    background-position-y: 0px;
  }
  .aboutUs .aboutContent {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutUs .aboutContent .aboutText p {
    max-width: 560px;
  }
}

.portfolio {
  padding-top: 64px;
  padding-bottom: 64px;
}

.portfolio .portfolioContent {
  margin-left: 10px;
  margin-right: 10px;
}

.portfolio .portfolioContent h4 {
  font-family: "raleway", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}

.splide {
  margin-top: 48px;
}

.splide .splide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splide img {
  max-width: 260px;
  max-height: 320px;
  -webkit-box-shadow: 0px 4px 16px grey;
          box-shadow: 0px 4px 16px grey;
  border-radius: 4px;
}

.splide .splide__pagination {
  display: none;
}

.splide .splide__arrow {
  background: #ffffff;
}

.splide .splide__slide {
  min-height: 335px;
}

@media only screen and (min-width: 600px) {
  .portfolio {
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio .portfolioContent {
    margin-left: 20px;
    margin-right: 20px;
  }
  .splide img {
    max-width: 230px;
  }
  .splide__arrows {
    display: none;
  }
}

@media only screen and (min-width: 1040px) {
  .portfolio {
    max-width: 1160px;
  }
}

.faqSection {
  padding-top: 64px;
  padding-bottom: 96px;
  background: url(/imgs/mobile-img/faq-mb-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.faqSection .faqContent {
  margin-left: 10px;
  margin-right: 10px;
}

.faqSection .faqContent h5 {
  font-size: 32px;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
  margin-bottom: 56px;
}

.faqSection .faqContent .accordion-item {
  margin-top: 32px;
  border-bottom: 0px;
}

.faqSection .faqContent .accordion-button {
  padding: 12px 8px;
}

.faqSection .faqContent .accordion-button p {
  font-size: 18px;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  line-height: 22px;
}

.faqSection .faqContent .accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

.faqSection .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faqSection .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media only screen and (min-width: 768px) {
  .faqSection {
    padding-top: 96px;
    padding-bottom: 64px;
    background: url(/imgs/tablet-img/faq-mid-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .faqSection .faqContent {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1160px) {
  .faqSection {
    background: url(/imgs/desktop-img/faq-desktop-bg.webp);
    background-size: 1920px 512px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -32px;
    background-color: #fafafa;
  }
  .faqSection .faqContent {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  .faqSection .faqContent h5 {
    margin-bottom: 64px;
  }
  .faqSection .faqContent .accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .faqSection .faqContent .accordion-item {
    width: 570px;
  }
}

.contactUs {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #FAFAFA;
}

.contactUs h5 {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 16px;
  text-align: center;
}

.contactUs h4 {
  font-family: "raleway", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}

.contactUs .form {
  margin-top: 64px;
}

.contactUs .form form {
  max-width: 767px;
}

.contactUs .form form p {
  margin-bottom: 8px;
}

.contactUs .form form .info input {
  width: 100%;
  height: 33px;
  background-color: #ffffff;
  border: none;
  padding-left: 8px;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
}

.contactUs .form form .info .name {
  margin-right: 21px;
  width: 100%;
}

.contactUs .form form .info .email {
  margin-top: 16px;
  width: 100%;
}

.contactUs .form form .message {
  margin-top: 24px;
}

.contactUs .form form .message textarea {
  width: 100%;
  max-width: 767px;
  padding-bottom: 90px;
  background-color: #ffffff;
  border: none;
  padding-top: 8px;
  padding-left: 8px;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
}

.contactUs .form form .sendBtn {
  margin-top: 32px;
}

.contactUs .form form .sendBtn button {
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-family: "montserrat", sans-serif;
  padding: 12px 24px;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
}

.contactUs .form form .sendBtn :hover {
  background-color: #6000FF;
}

.contactUs .mailSentFooter {
  display: none;
  padding-top: 64px;
  padding-bottom: 64px;
}

.contactUs .mailSentFooter p {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #2ECFAA;
  text-align: center;
  margin-top: 16px;
  line-height: 21px;
}

.contactUs .mailSentFooter img {
  max-width: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: url(/imgs/mobile-img/footer-mb-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer .footerContent {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 32px;
  padding-bottom: 96px;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .info img {
  max-width: 32px;
  margin-right: 12px;
}

footer .info:nth-child(2) {
  margin-top: 24px;
}

.end {
  background-color: #FAFAFA;
}

.end .endContent {
  padding-bottom: 12px;
  max-width: 1160px;
  margin-left: 10px;
  margin-right: 10px;
}

.end .endContent hr {
  height: 1px;
  margin: 0;
}

.end .endContent p {
  margin-top: 12px;
}

@media only screen and (min-width: 768px) {
  .finalbg {
    background: url(/imgs/tablet-img/finalbg-mid-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .footerContent h5 {
    font-size: 32px;
    text-align: center;
    line-height: 38px;
  }
  .footerContent h4 {
    margin-top: 24px;
    font-size: 42px;
    text-align: center;
    line-height: 49px;
  }
  .contactUs {
    padding-top: 64px;
    background: none;
  }
  .contactUs .contactUsContent {
    max-width: 492px;
    margin-left: auto;
    margin-right: auto;
  }
  .contactUs .contactUsContent .form .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactUs .contactUsContent .form .info .email {
    margin-top: 0px;
  }
  .contactUs .contactUsContent .form .message textarea {
    max-height: 50px;
  }
  footer {
    background: none;
  }
  footer .footerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 492px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #fafafa00;
  }
  footer .info:nth-child(2) {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1160px) {
  .finalbg {
    background: url(/imgs/desktop-img/finalbg-lg-bg.webp);
    background-size: 1920px 666px;
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
  }
  .finalbg .contactUs h5 {
    font-size: 32px;
    line-height: 38px;
  }
  .finalbg .contactUs h4 {
    margin-top: 24px;
    font-size: 42px;
    line-height: 49px;
  }
  .finalbg .contactUs .contactUsContent {
    max-width: 560px;
  }
  .end .endContent {
    margin-left: auto;
    margin-right: auto;
  }
  .end .endContent hr {
    color: #1D1D1F;
  }
}

.myModal .modal-content {
  background-color: #FAFAFA;
}

.myModal .modal-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: none;
  padding: 0px;
}

.myModal h5 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-top: 20px;
  line-height: 19px;
}

.myModal h4 {
  font-size: 28px;
  font-weight: bold;
  font-family: "raleway", sans-serif;
  display: inline-block;
  margin-top: 12px;
  line-height: 33px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.myModal .btn-close {
  margin-left: auto;
  margin-right: 16px;
  margin-top: 16px;
}

.myModal .modal-footer {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.myModal .modal-footer .info {
  display: inline-block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myModal .modal-footer .info img {
  max-width: 32px;
  margin-right: 12px;
}

.myModal .form p {
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.myModal .form input {
  margin-top: 8px;
  width: 100%;
  font-size: 14px;
  font-family: "montserrat", sans-serif;
  padding: 8px 12px;
  border: none;
}

.myModal .form textarea {
  width: 100%;
  font-size: 14px;
  font-family: "montserrat", sans-serif;
  padding: 8px 12px;
  border: none;
}

.myModal .form .name {
  margin-bottom: 16px;
}

.myModal .form .email {
  margin-bottom: 16px;
}

.myModal .form .message {
  margin-bottom: 32px;
}

.myModal .form .sendBtn button {
  width: 100%;
  background-color: #1D1D1F;
  padding: 12px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.myModal .mailSent {
  display: none;
  padding-top: 64px;
  padding-bottom: 64px;
}

.myModal .mailSent p {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #2ECFAA;
  text-align: center;
  margin-top: 16px;
  line-height: 21px;
}

.myModal .mailSent img {
  max-width: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 20px;
}
/*# sourceMappingURL=style.css.map */